* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    margin: 0;
    background-color: #fbf4f9;
    display: flex;
    flex-direction: column;
    align-items: center
    width: 100%;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 100vw; */
    border-bottom: solid 1px lightgrey;
    /* background-color: #b9cced; */
}

#banner {
    display: flex;
    width: 100%;
    max-width: 1326px;
    padding: 0 20px;
    align-items: center;
}

#title {

}

#icon {
    width: 100px;
    height: 75px;
}


#main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#form-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1300px;
    padding-bottom: 20px;
    margin: 20px 0;
    border-bottom: solid 1px lightgrey;
}

#form-field {
    display: flex;
}

#image-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1326px;
}

.image-card {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    background-color: #fafafa;
    border: solid 1px lightgrey;
}

.image-card p {
    font-size: 14px;
}

.image-card img {
    width: 400px;
    height: 300px;
    border-radius: 5px;
}

#modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    /* z-index: 100; */
}

#modal::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: black;
    opacity: .4;
}

#comment-container {
    padding: 20px 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 600px;
    width: 600px;
    overflow-y: scroll;
    background-color: white;
    display: flex;
    flex-direction: column;
}

#controls-container {
    display: flex;
    justify-content: space-between;
}

#controls-container div {
    width: 40px;
    padding: 5px 0;
}

#controls-container span {
    cursor: pointer;
    font-weight: bold;
}

#comment-container img {
    width: 100%;
}

#comment-form {
    margin: 10px 5px;
    border: solid 1px lightgrey;
    padding: 10px;
    border-radius: 5px;
}

#comments {
    border: solid 1px lightgrey;
    padding: 5px;
    border-radius: 5px;
}

.comment {
    border-bottom: solid 1px lightgrey;
}
